[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Alexander Slavschik
	email = slavshik@me.com
[interactive]
    diffFilter = delta --color-only
[core]
	autocrlf = input
	editor = nvim
    pager = delta
	excludesfile = ~/.gitignore
[delta]
    navigate = true
    light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

[delta]
    side-by-side = true
