"" Show matching braces/brackets
set showmatch
set showcmd
set relativenumber
let mapleader=" "
cursorline " " " highlight current line
nnoremap <leader>si :source ~/.ideavimrc<CR>
" move lines
vnoremap <C-j> :m '>+1<CR>gv=gv
vnoremap <C-k> :m '<-2<CR>gv=gv
nnoremap <C-j> V:m '>+1<CR>gv=gv<esc>
nnoremap <C-k> V:m '<-2<CR>gv=ga<esc>
" align to center after jump
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N nzzzv

" These two lines will fully disable any visual or noisy bell
" on both windows and linux. >:)
set noerrorbells visualbell t_vb=
autocmd GUIEnter * set visualbell t_vb=
