os:
  editPreset: "nvim"
git:
  branchLogCmd: "git log --color=always --pretty=format:\"%C(yellow)%h %C(reset) %s %C(cyan)%cE\" {{branchName}} --"
  commitPrefixes:
    js-clients: # This is repository folder name
      - pattern: "^([A-Z]+\\-[0-9]+).*"
        replace: '$1 '
    js-dealermodules: # This is repository folder name
      - pattern: "^([A-Z]+\\-[0-9]+).*"
        replace: '$1 '
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
services:
  'gitlab.evolution.com': gitlab:gitlab.evolution.com
  'gitlab.evolutiongaming.com': gitlab:gitlab.evolution.com
  'gitlab.gosystem.io': gitlab:gitlab.gosystem.io
gui:
  nerdFontsVersion: "3"
  mainBranches: [master, main]
  theme:
    activeBorderColor:
      - '#ff9900'
      - bold
    inactiveBorderColor:
      - black
    showRandomTip: true
    showCommandLog: true
customCommands:
  - key: "<c-f>"
    context: "files,localBranches"
    command: "git push --force-with-lease"
    description: "Force push with lease"
    output: "terminal"
  - key: "<c-j>"
    context: "files,localBranches"
    loadingText: "Loading..."
    command: ~/.dotfiles/route_ai_commit.sh
    description: "Generate commit message from AI"
    output: terminal
